body {
    background-color: rgb(45, 45, 80);
}
.App {
    width: 400px;
    height: 500px;
    background-color: whitesmoke;
    margin: 80px auto;
}

.navbar {
    border-bottom: 1px solid lightblue;
    background-color: #033e8bde;
    padding: 10px;
}

.head-tag h2 {
    margin: 0;
    text-align: center;
    color: white;
}

.task-head {
    padding: 20px;
    text-align: center;
}

.task-input, .task-head button {
    padding: 10px;
    border: 1px solid #033e8bde;
}

.task-input {
    border-right: none;
    background-color: #fffffff1;

}

.task-head button {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
    background-color: #033e8bde;
    color: white;
}

.task-section h2 {
    text-align: center;
    color: #033e8bde;
}

.tasks {
    margin: 1em 2em;
    height: 16em;
    overflow-y: auto;
    border-bottom: 1px solid #033e8bde;
}

.tasks p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #033e8bde;
    font-weight: 600;
}

.tasks p > button {
    margin-left: auto;
    cursor: pointer;
    background-color: #033e8bde;
    border: 1px solid #fffffff1;
    border-radius: 6px;
    padding: 12px;
    color: white;
}

.toggle-on {
    visibility: hidden;
}

.toggle-off {
    visibility: visible;
}

.n-a {
    text-align: center;
    margin-top: 5em;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.2;
    color: #033e8bde;
}